<header>
    <div class="container">
        <div class="row">
            <div class="sol-lg-12 p-flex p-flex-align-center p-flex-jc-end">
                <ul>
                    <li>
                        <a [routerLink]="['/']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}">About</a>
                    </li>
                    <li>
                        <a [routerLink]="['/portofolio']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}">Portofolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>