<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 p-rgt-sec">
                <h5 class="mb-4">Skills</h5>
                <span class="p-tag">Project Management</span>
                <span class="p-tag">Team Leadership</span>
                <br>
                <span class="p-tag">OOP</span>
                <span class="p-tag">REST API</span>
                <span class="p-tag">Unity Game Engine</span>
                <br><br>
                <span class="p-tag">C#</span>
                <span class="p-tag">Java</span>
                <span class="p-tag">C++</span>
                <span class="p-tag">Python</span>
                <span class="p-tag">JavaScript</span>
                <span class="p-tag">SQL</span>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <h5 class="mb-4">Languages</h5>
                <div class="p-language-column">
                    <div class="col-sm-4">
                        <p class="p-language">Romanian</p><br>
                        <p class="p-language">English</p><br>
                        <p class="p-language">German</p><br>
                        <p class="p-language">French</p><br>
                        <p class="p-language">Dutch</p>
                    </div>
                    <div>
                        <div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                        </div>
                        <div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                        </div>
                        <div>
                            <div class="p-full-box"></div>
                            <div class="p-full-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                        </div>
                        <div>
                            <div class="p-full-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                        </div>
                        <div>
                            <div class="p-full-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                            <div class="p-empty-box"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Education</h5>
                <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a MASc in the Netherlands on game technology.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Hobbies</h5>
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
        </div>
    </div>
</section>
