
<div class="container">
    <div class="row">
        <div class="p-programming">
            <h3>Programming Projects</h3>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Conference Management</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a master's in the Netherlands on game technology.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">University Job Formular</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Activities Management</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a master's in the Netherlands on game technology.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Automated Stock Information</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a master's in the Netherlands on game technology.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Intelligent Crowd Behaviour</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Movie Rental</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a master's in the Netherlands on game technology.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Raytracer</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Acrophobia Helper</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a master's in the Netherlands on game technology.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Slideshow</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Informative Fill and Lee Algorithms</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Biology Quizz</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
            <div class="p-summary mt-4">
                <h5 class="mb-2 mt-1">Mini Paint</h5>
                <img class="p-image" src="assets/img/facebook.png">
                <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
            </div>
        </div>
    </div>
</div>

