<section>
    <div class="container">
        <p class="wip">This page is a work in progress!</p>
        
        <h4>Master of Science in Game Technology<h6><i>(in english)</i></h6></h4>
        <p>
            A one year programme in the Netherlands, at Breda University of Applied Sciences.<br>

            I learned more about research: how to search for existing work, choose a topic, find a methodology, test and finalize it.
            During my study I developed a prototype tool as well, of which you can read more <a routerLink="/projects/games/1">here</a>.
            You can also read more about the research in <a href="https://www.gamedeveloper.com/blogs/human-ai-interaction-improves-the-design-process">this article</a>, or in the <a href="http://dx.doi.org/10.13140/RG.2.2.23595.92966/1">full thesis</a>.
        </p>

        <h4>Bachelor's Degree in Computer Science<h6><i>(in english)</i></h6></h4>
            <p>
                A four year programme in Romania, at Babeș Bolyai University.<br>

                As I was doing well with the grades, I got a small scolarship bonus in almost all semesters. I also had a one year course of english which I finished with the average grade of C2.<br>
                
                <br>Some courses taught me important notions and soft skills.
            </p>
            <button (click)="toggle(ContentElement1)">See examples:</button>
            <ul #ContentElement1 class="hidden">
                <li>Software Engineering</li>
                <li>Design Patterns</li>
                <li>Software Systems Verification and Validation</li>
                <li>Data Structures and Algorithms</li>
            </ul>
            <p>As well as the scientific explanations, through mathematics.</p>
            <button (click)="toggle(ContentElement2)">See examples:</button>
            <ul #ContentElement2 class="hidden">
                <li>Algebra</li>
                <li>Mathematical Analysis</li>
                <li>Geometry</li>
                <li>Dynamical Systems</li>
                <li>Graph Algorithms</li>
                <li>Probability Theory and Statistics</li>
                <li>Also learned MATLAB and Maple programming languages</li>
            </ul>
            <p>Programming, in different programming languages and for different purposes.</p>
            <button (click)="toggle(ContentElement3)">See examples:</button>
            <ul #ContentElement3 class="hidden">
                <li>Python - Fundamentals of Programming</li>
                <li>C++ - Object Oriented Programming</li>
                <li>C, Shell and other Unix notions - Operating Systems</li>
                <li>Java - Advanced Programming Methods & Systems for Design and Implementation</li>
                <!--REST & Toy Language Interpreter - threadpool for fork, semaphore, garbage collector? -->
                <li>SQL - Databases & Database Management Systems</li>
                <li>HTML/XML, CSS, Javascript/DOM, PHP, JSP/Servlet, ASP.NET - Web Development</li>
                <li>Assembly and processor - Computer System Architecture</li>
                <li>Lisp, Prolog - Functional and Logic Programming</li>
            </ul>
            <p>And how to apply what I know in specific domains, such as.</p>
            <button (click)="toggle(ContentElement4)">See examples:</button>
            <ul #ContentElement4 class="hidden">
                <li>Computer Networks</li>
                <li>Artificial Intelligence</li>
                <li>Parallel and Distributed Programming</li>
                <li>Formal Languages and Compiler Design - Constructed a new language from scratch</li>
            </ul>
        <h4>High School - Mathematics and Informatics</h4>
            <p>Among the various disciplines taught in high school, I was also taught the basis of programming. Although the main aspect was learning algorithmics in C++, My learning included:</p>
            <ul>
                <li>C++</li>
                <li>C#</li>
                <li>SQL</li>
                <li>HTML + CSS</li>
            </ul>
            <p>
                At the end of high school, we had to take a national exam. In the exam there were various disciplines, depending on specialization. Apart of romanian language and literature, I took the exam in maths and programming and passed both with 10, and had an english exam where I passed with the maximum grade: B2.
            </p>

        <br><br>
        <div class="disclaimer">
            <b>Disclaimer: humans forget stuff!</b> 
            <p>
                And I am human, so I am sure I forgot specific definitions, formulas, and algorithms. 
                HOWEVER, when reviewing something already learned, it goes much quicker. 
                So if I have the need to use any of the notions previously learned, and I don't remember them, I will search and easily find the solution.
            </p>
            <br>
        </div>
    </div>
</section>