<section>
    <div class="container">
        <p>highschool - mathematics and informatics</p>
            <p>C++</p>
            <p>C#</p>
            <p>SQL</p>
            <p>HTML + CSS</p>
        <p>bachelors - computer science (got financing/scolarship in most of the semesters)</p>
            <p>maths</p>
            <p>assembly - asc</p>
            <p>python - fp</p>
            <p>oop</p>
            <p>C - os</p>
            <p>shell and other linux stuff - os</p>
            <p>sql - DB</p>
            <p>java - map - toy language interpreter - threadpool for fork, semaphore, garbage collector?</p>
            <p>networking</p>
            <p>AI</p>
            <p>teamwork - ISS</p>
            <p>mpp - java REST</p>
            <p>pdp - parallel programming</p>
            <p>matlab - numerical calculus, mathematical analysis</p>
            <p>design patterns</p>
            <p>testing methods - SSVV</p>
            <p>formal languages and compiler design - flcd - made a new language</p>
            <p>programare logica - lisp, prolog</p>
            <p>sda - data structures</p>
        <p>masters in the netherlands</p>
    </div>
</section>