<section>
    <div class="container">
        <p>Traveling:</p>
            <p>Netherlands</p>
            <p>Belgium</p>
            <p>Bulgaria</p>
            <p>Hungary</p>
            <p>All over Romania</p>
                <p>hiking</p>
                <p>backpacking in other cities</p>
                <p>going to the sea</p>
                <p>going to contests where I also visited the cities (earned medals as well)</p>
        <p>Reading</p>
            <p>all kinds of books and manga</p>
        <p>Watching shows</p>
            <p>tv shows</p>
            <p>movies</p>
            <p>anime</p>
        <p>Sports</p>
            <p>Basketball</p>
            <p>Gym</p>
            <p>Tennisball</p>
            <p>Calisthenics</p>
            <p>Swimming</p>
            <p>Kickboxing</p>
                <p>Volleyball</p>
                <p>Football (Soccer)</p>
        <p>Arts</p>
            <p>Drawing</p>
            <p>Playing the piano</p>
            <p>Making games</p>
                <p>Painting</p>
        <p>Playing games and solving puzzles</p>
            <p>chess </p>
            <p>light up</p>
            <p>rubik cube</p>
            <p>strategy and fantesy video games</p>
            <p>board games - dnd</p>
        <p>Volunteer experience:</p>
            <p>bike fest</p>
            <p>mountain camp</p>
    </div>
</section>