<section>
    <div class="container">
        <p class="wip">This page is a work in progress!</p>
        <h5>Travelling</h5>
            <p>All over the Netherlands</p>
            <p>Belgium</p>
            <p>Bulgaria</p>
            <p>Hungary</p>
            <p>All over Romania</p>
            <ul>
                <li>Hiking</li>
                <li>Backpacking in other cities</li>
                <li>Going to the sea</li>
                <li>Going to different cities thanks to school contests (earned medals as well)</li>
            </ul>
        <h5>Reading</h5>
            <p>All kinds of books and manga</p>
        <h5>Watching shows</h5>
            <p>Tv shows</p>
            <p>Movies</p>
            <p>Anime</p>
        <h5>Sports</h5>
            <p>Basketball</p>
            <p>Gym</p>
            <p>Tennisball</p>
            <p>Calisthenics</p>
            <p>Swimming</p>
            <p>Kickboxing</p>
            <p>I also tried other sports, such as volleyball and football(soccer).</p>
        <h5>Arts</h5>
            <p>Drawing</p>
            <p>Playing the piano</p>
            <p>Making games</p>
            <p>Other arts and crafts</p>
            <ul>
                <li>Painting</li>
                <li>Journaling</li>
                <li>Whittling</li>
                <li>Origami</li>
            </ul>
        <h5>Playing games and solving puzzles</h5>
            <p>Chess </p>
            <p>Light up</p>
            <p>Rubik cube</p>
            <p>Video games</p>
            <p>Board games - dnd</p>
        <h5>Volunteer experience:</h5>
            <p>Bike fest</p>
            <p>Mountain camp</p>
    </div>
</section>