<section class="p-wrapper">
</section>
<div class="p-background">
</div>

<div>
    <!-- HEADER -->
    <app-header></app-header>
        
    <!-- CONTACTS -->
    <div class="p-contact">
        <div class="p-contact-item">
            <a [href]="facebookLink">
                <img src="assets/img/facebook.png">
                <!-- <span class="p-caption">Facebook</span> -->
            </a>
        </div>
        <div class="p-contact-item">
            <a [href]="linkedinLink">
                <img src="assets/img/linkedin.png"> 
                <!-- <span class="p-caption">LinkedIn</span> -->
            </a>
        </div>
        <div class="p-contact-item">
            <a href="{{'mailto: ' + gmail}}">
                <img src="assets/img/gmail.png">
            </a>
            <span class="p-caption">dumbraveanb@gmail.com</span>
        </div>
    </div>

    <!-- ROUTER -->
    <router-outlet></router-outlet>
</div>