
<div class="container">
    <div class="row">
        <div class="p-programming">
            <h3>Games Developed</h3>
            <div class="p-summary mt-4" *ngFor="let project of games; let idx = index">
                <h5 class="mb-2 mt-1">{{project.title}}</h5>
                <img class="p-image" src={{project.profile}}>
                <p class="mb-2">{{project.summary}}</p>
                <!-- <a routerLink="/projects/games/{{idx}}" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a> -->
            </div>
        </div>
    </div>
</div>

