.row{
    justify-content: space-between;
}

@media (min-width: 992px) {
    .container{
        margin-left: 25vw;
        width: 70vw;
    }
    .row{
        margin-top: 6vh;
        margin-left: 5vw;
        width: 55vw;
    }
    .p-programming, .p-games{
        padding: 15px 30px 15px 30px;
    }
    .p-image{
        vertical-align: top;
        display: inline-block;
        width: 15%;
        height: 100px;
        margin-left: 10px;
    }
    .p-summary p{
        display: inline-block;
        width: 80%;
    }
}
@media (max-width: 992px) {
    .container{
        margin-left: 25vw;
        width: 70vw;
        font-size: small;
    }
    .row{
        margin-top: 3vh;
        width: 65vw;
    }
    .p-programming, .p-games{
        padding: 10px 20px 10px 20px;
    }
    .p-image{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }
    .p-summary p{
        width: 95%;
    }
    h3{
        font-size: large;
    }
    h5{
        font-size: larger;
    }
}

p {
    margin-bottom: 30px;
}

.p-programming, .p-games{
    border: 1px solid lightgray;
    border-radius: 40px;
    white-space: normal;
    margin-bottom: 3vh;
}

.p-summary{
    box-shadow: 1px 3px lightgray;
    background: white;
    border: 1px solid black;
    border-radius: 16px;
    white-space: normal;
    margin-bottom: 3vh;
}
.p-summary h5, .p-summary p{
    margin-left: 10px;
}
.p-image{
    object-fit: cover;
    margin-bottom: 10px;
}

hr{
    margin-top: 0;
    height: 3px;
}

.p-seemore{
    color:gray
}