
@media (min-width: 992px) {
    .container{
        margin-left: 25vw;
        width: 70vw;
    }
}
@media (max-width: 992px) {
    .container{
        margin-left: 25vw;
        width: 70vw;
        font-size: small;
    }
}

.p-image {
    width: 50%;
}

a {
    color: blue;
}