/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    margin: 0;
    padding: 0;
    font-size: 17px;
}
p{
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a, a:hover{
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

/* COMMON */
.p-cursor{
    cursor: pointer;
}
.p-flex{
    display: flex;
}
.p-flex-align-center{
    align-items: center;
}
.p-flex-jc-sb{
    justify-content: space-between;
}
.p-flex-jc-end{
    justify-content: end;
}
.p-readmore{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}
.p-readmore img{
    transition: all .5s;
    transform: translateX(0);
    width: 1em; 
    height: 1em;
    margin-left: .7em;
    margin-right: 1em;
}
.p-readmore:hover img{
    transform: translateX(5px);
}

/* CONTACTS */
.p-contact{
    position: fixed;
    left: 0;
    bottom: 2vw;
    width: 20vw;
    text-align: left;
}
.p-contact-item a{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 20vw;
    margin-top: 15px;
}
.p-contact-item a img{
    width: 40px;
}
.p-caption {
    display: block;
    text-align: center;
}
@media (max-width: 900px) {
    .p-caption {
        font-size: smaller;
        word-wrap: break-word;
        white-space: normal;
    }
    .p-readmore{
        font-size: medium;
    }
    .p-contact-item a img{
        width: 9vw;
    }
    .p-contact{
        font-size: 3.5vw;
    }
}

/* WRAPPER CLASS*/
.p-wrapper{
    position: relative;
}
.p-wrapper::before{
    content: '';
    background: #f9b205;
    height: 100%;
    width: 20vw;
    position:fixed;
    z-index: -1;
}
.p-background::before{
    content: '';
    background: url('/assets/img/triangle-mosaic.png');
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
    transform: scale(2.5);
}