<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Software Engineer</span>
                    <h1 class="mt-4">Bogdan Dumbrăvean</h1>
                    <p class="p-des mt-3 mb-4">Hello, glad to see you here!</p>

                    <p class="p-des mt-3 mb-4">In case you don’t know me, I’m a guy from Romania who studied computer science and game development, but you can learn more about me from the “About” page.</p>
                        
                    <p class="p-des mt-3 mb-4">If you’re here, I guess you’re interested to see something about me or my projects. I hope you find what you’re looking for.</p>
                        
                    <p class="p-des mt-3 mb-4">You can contact me if you want to chat. Use any method from the contacts on the left and I’ll answer.</p>
                    <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" width="15" class="ml-2" /></a>
                </div>

                <!-- <div>
                    <h6>Subscribe to our Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email here" autocomplete="off">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</section>