<section>
    <div class="container">
        <p>Most of my projects are programming related, but I split them into the games I developed, and other programming projects.</p>
        <p>Note that this website is also developed by me with Angular. Another project I would mention is starting a company, but I put it on hold while studying for the master’s degree because I am also working on another start-up.</p>
        <div class="row">
            <div class="p-programming">
                <h3>Programming Projects</h3>
                <div class="p-summary mt-4">
                    <h5 class="mb-2 mt-1">Education</h5>
                    <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a MASc in the Netherlands on game technology.</p>
                    <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
                </div>
                <div class="p-summary mt-4">
                    <h5 class="mb-2 mt-1">Hobbies</h5>
                    <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                    <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
                </div>
                <a href="#" class="p-seemore">See more...</a>
                <hr>
            </div>
            <div class="p-games">
                <h3>Games Developed</h3>
                <div class="p-summary mt-4">
                    <h5 class="mb-2 mt-1">Education</h5>
                    <p class="mb-2">I had most of my education in Romania. My highschool and bachelor’s were in the domain of computer science. Doing a MASc in the Netherlands on game technology.</p>
                    <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow"/></a>
                </div>
                <div class="p-summary mt-4">
                    <h5 class="mb-2 mt-1">Hobbies</h5>
                    <p class="mb-2">The activity I appreciate the most is doing sports. Other than that, I also occupy my time with reading, watching shows, playing games, doing something artistic, and travelling.</p>
                    <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" /></a>
                </div>
                <a href="#" class="p-seemore">See more...</a>
                <hr>
            </div>
        </div>
    </div>
</section>
